body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  background-image: url("images/background.jpg");
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center image within container */
  background-size: cover;
  z-index: 10;
}

.header {
  background-color: #1d1c1c;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between; /* This will distribute the buttons equally */
  align-items: center;
}

.navbar button {
  background-color: #00000000; /* Transparent background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
}

.navbar button:hover {
  background-color: #ef0001;
}


#countdown {
  bottom: 20px;
  text-align: center;
  font-size: 2em;
  color: white;
  z-index:1000;
}

#countdown-timer {
  /*display: inline-block;*/
  font-family: 'f1font', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  z-index:1000;
}
