.driver {
  text-align: center;
  width: 45%;
}
.driver img {
  width: 100%;  
  height: 100%; 
  background-image: url("images/winnermonaco.png");
  background-repeat: no-repeat;  /* Prevent image repetition */
  background-position: center;  /* Center image within container */
  background-size: cover;  
  object-fit:cover;
  z-index: 10;
}

body {
  margin: 0;
  z-index: 9;
  padding: 100px 0; /* Adjust padding if needed */
}


.header {
  background-color: #1d1c1c;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  width: 100%;
  z-index: 1000;

}

.navbar {
  display: flex;
  justify-content: space-between; /* This will distribute the buttons equally */
  align-items: center;
}

.navbar button {
  background-color: #00000000; /* Green background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1; 
}

.navbar button:hover {
  background-color: #ff0000; 
}


.content-container {
  overflow: visible; /* Allow content to be visible after animation */
}


